/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Estilos para el contenedor principal */
.contentmenu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para el párrafo */
.contentmenu p {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Estilos para la lista */
.contentmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para los elementos de la lista */
.contentmenu li {
    display: inline-block;
    margin-right: 20px;
}

/* Estilos para los enlaces */
.contentmenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Estilos para los enlaces en dispositivos más pequeños */
@media screen and (max-width: 600px) {
    .contentmenu li {
        display: block;
        margin: 10px 0;
    }
}
