<h1>VER NOTA</h1>
<form action="">
    <label for="txtTitulo">Titulo:</label>
    <input id="txtTitulo" name="txtTitulo" type="text" [(ngModel)]="nota.titulo" >  <!-- Aqui primero hace un get con parentesis y un set con corchetes -->
    <br>
    <label for="txtDescripcion">Descripcion:</label>
    <input id="txtDescripcion" name="txtDescripcion" type="text" [(ngModel)]="nota.descripcion">

    <label for="txtfecha">Fecha:</label>
    <input id="txtfecha" name="txtfecha" type="text" [(ngModel)]="nota.fecha">

    <!-- Botón para modificar -->
    <button type="button" (click)="updateNota()">Modificar</button>

    <button type="button" (click)="borrarNota()">Eliminar Nota</button>

</form>